<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        <i>Dance-App</i>
    </h1>
    <!--ユーザーがくるページに応じてコンポーネントを変更する-->
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <nav class="global-nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a routerLink="/home">
                    <i class="fas fa-home"></i>
                    <span>Home画面
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/dashboard">
                    <i class="fas fa-star"></i>
                    <span>ダッシュボード</span>
                </a>
            </li>

        </ul>
    </nav>
</footer>